body {
  font-family: "Bubbler One", sans-serif;
  border: green;
  border-width: thick;
  margin: 0 auto;
  padding: 15px 60px;
  font-weight: 400;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  background-color: #28a745;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 60px;
  color: white;
  text-align: center;
}
.card-body {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 60px;
  color: darkgreen;
  text-align: center;
}
h1 {
  text-align: center;
  color: #7663ac;
}

h2 {
  text-align: center;
  border: 1px solid #e8de51;
  padding: 15px;
  font-size: 18px;
  border-radius: 4px;
}
h5 {
  text-align: center;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #e8de51;
  padding: 15px;
  border-radius: 4px;
}

p {
  line-height: 1.5;
  font-size: 15px;
  margin: 20px 0 10px;
}

button {
  display: block;
  margin: 20px auto;
  background: #7d51e8;
  color: white;
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.day {
  color: #3e3e3e;
}
.temp {
  color: #747474;
  text-align: center;
}
.dayEmoji,
.dayTemp {
  font-size: 60px;
  display: inline;
  padding-left: 10px;
}
